body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family: Lato, Arial, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    }

h1 {
    font-family: "Abril Fatface", Georgia, serif;
    padding: 1em;
    font-size: 4em;
    padding-bottom: .5em;
    border-bottom: 1px solid #d5d5d5;
    }

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.fa {
    background: #f4f4f4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    padding: 1em;
    }

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.excerpts li {
    list-style-type: none;
    }

.title a {
    font-variant: small-caps;
    }
