---
layout: default
title: Writer Cracks the Code
---

<div class="container">            
    <div class="title-blurb"><h1>Writer Cracks the Code</h1>
    <h2>The blog of Morrisa Neely, animal lover, aspiring web dev, and occasional word-weaver</h2></div>

<div class="excerpts">
<ul>
  {% for post in site.posts %}
    <li>
        <div class="segment">
      <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
<p class="meta date">{{ post.date | date: "%B %-d, %Y" }}</p>
      {{ post.excerpt }}
<span class="readmore">{% if post.excerpt != post.content %}
    <a href="{{ post.url }}">Read more...</a>
{% endif %}</span>
    </div>
    </li>
  {% endfor %}
</ul>
</div>