body {
    background: #f4f4f4;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0;
    margin-bottom: 0;
    }

.header h1 {
    text-align: center;
    font-family: Yellowtail, cursive;
    font-size: 4em;
    letter-spacing: .14em;
    font-style: italic;
    margin-bottom: .4em;
    margin-top: .6em;
    padding-top: .6em;
    }

h2 {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: 100;
    font-size: 1.6em;
    }
    
.header {
    background: #383838;
    width: 80%;
    height: 20%;
    margin: 0 auto;
    margin-bottom: 2em;
    padding-bottom: .6em;
    color: #ffffff;
    }
    
.header img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5em;
    border: 20px solid white;
    -webkit-border-radius: .5%;
    width: 40%;
    height: 40%;
    }

.main {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2em;
    padding-top: 1.2em;
    font-family: "Crimson Text", "Georgia", serif;
    font-size: 1.5em;
    text-align: justify;
    text-justify: inter-word;
    background: #ffffff;
    color: #383838;
    }
    
.main h2 {
    font-weight: 400;
    }
    
.likes ul {
    list-style-type: square;
    margin-top: -.4em;
    padding-left: 44%;
    padding-right: 40%;
    text-align: left;
    }

.light {
    color: #7e7e7e;
    border-bottom: 1px solid lightgray;
    padding-bottom: .4em;
    margin-left: 10%;
    margin-right: 10%;    
    margin-bottom: 1em;
    margin-top: -.8em;
    }
    
.light2 {
    color: #7e7e7e;
    border-bottom: 1px solid lightgray;
    padding-bottom: .4em;
    margin-left: 10%;
    margin-right: 10%;    
    margin-bottom: 1em;
    }

.pics img {    
    width: 26%;
    height: 26%;
    float: right;
    -webkit-border-radius: .5%;
    border-radius: .5%;
    margin-left: 1em;
    margin-top: -.4em;
    margin-bottom: .5em;
    }
    
.pics img:hover {
    width: 28%;
    height: 28%;
    }

.footer {
    height: 3em;
    margin-top: -3em;
    background: lightgray;
    width: 80%;
    height: 20%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 0;
    padding-top: .5em;
    padding-bottom: .2em;
    text-align: center;
    font-family: Raleway, Arial, sans-serif;
    color: #7e7e7e;
    }
    
.footer li {
    list-style-type: none;
    display: inline;
    padding-right: 2em;
    font-size: 1.5em;
    font-family: Raleway, Arial, sans-serif;
    }
    
.footer a {
    text-decoration: none;
    color: #7e7e7e;
    }
    
.footer a:hover {
    text-decoration: none;
    color: #a4a4a4;
    font-weight: bold;
    }