<!DOCTYPE html>
<html>
    <head>
        <title>
        {% if page.title %} {{ page.title }}
        {% else %} {{ site.title }}
        {% endif %}</title>
        <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="/FontAwesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/FontAwesome/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway|Lato" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="/css/bootstrap/js/bootstrap.js" ></script>
        <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
    </head>