/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 { /* I changed this */
    margin: 0;
    padding: 0;
    border: 0;
    }
    
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CODE */

* {
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    -ms-box-sizing: border-box!important;
    box-sizing: border-box;
    }
    
body, html {
    min-height: 100%;
}

p {
    font-size: 1.9em;
    font-family: "Poiret One";
    }
    
h2 {
    font-family: "Poiret One";
    font-weight: normal;
    font-size: 4em;
    }
    
.cursive {
    font-family: "Great Vibes";
    font-size: 1.8em;
    position: relative;
    z-index: 200;
    }
    
.amp {
    font-family: "Poiret One";
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    position: relative;
    z-index: 1;
    margin: -20px 0 -20px 0!important;
    
    padding: -20px 0 -20px 0!important;
    }
    
.big-letter {
    font-size: 1.3em;
    letter-spacing: -.05em;
    }
    
.time {
    font-size: 1.6em;
    }
    
.space {
    padding-right: .3em;
    }
    
.center {
    margin: 0 auto;
    }

.content {
    margin: 0 auto;
    width: 80%;
    }
    
.clear {
    clear: both;
    }
    
.embiggen {
    font-size: 3em;
    font-family: "Poiret One";
    padding-bottom: 0.5em;
    }
    
#footer {
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    height: 2.5em;
    margin-left: auto!important;
    margin-right: auto!important;
    text-align: center;
    position: fixed;
    bottom: -1px;
    z-index: 1000;
    padding: .9em 0 .5em 0;
    }
    
#nav ul {
    list-style-type: none;
    display: block;
    margin: 0 auto;
    }
    
#nav li {
    display: inline;
    padding: 0 3em;
    text-align: center;
    }
    
#nav a {
    color: #fff;
    font-family: Roboto;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    }
    
#nav a:hover, #nav a:focus, #nav a:active {
    color: gold;
    text-decoration: none;
    text-shadow: none;
    }
    
#invite, #rsvp {
    width: 100%;
    }
    
#invite {
    background: url("/portfolio/30Days30Sites/images/ringspixabay.jpg") no-repeat center center fixed;
    text-align: center;
    color: #fff;
    background-size: cover;
    height: 100%;
    padding: 2.5em;
    }
    
.invite-text {
    background: rgba(96, 104, 106, 0.5);
    padding: 3.5em;
    text-align: center;
    margin-bottom: 5em;
    }
    
.invite-text p {
    font-size: 2.5em;
    }
    
#rsvp {
    background: url("/portfolio/30Days30Sites/images/pinstripe.png"); /* From Subtle Patterns */
    background-repeat: repeat-x repeat-y;
    background-color: #fff;
    color: #252525;
    height: 600px;
    width: 100%;
    margin: 0 auto 0 auto;
    overflow: hidden;
    padding: 10em 0 10em 0;
    text-align: center;
    font-size: 1.2em;
    }
    
#rsvp a {
    color: #fda666;
    text-decoration: none;
    font-weight: bold;
    }
    
#story {
    background: url("/portfolio/30Days30Sites/images/glasses-pexels.jpg") 50% 0 no-repeat fixed;
    color: #fff;
    height: 100%;
    padding: 5em 2.5em;
    background-size: cover;
    }
    
#story h2 {
    margin-bottom: 1em;
    text-align: center;
    }
    
#story p {
    padding-bottom: 1em;
    text-align: left;
    font-family: "Gentium Basic";
    }
    
.story-text {
    background: rgba(47, 39, 36, 0.5);
    padding: 2em 4em 2em 4em;
    }
    
#registry {
    background: url("/portfolio/30Days30Sites/images/pinstripe.png") center center;
    background-repeat: repeat;
    background-color: #fff;
    color: #585c3f;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    padding: 7.5em 0 9em 0;
    text-align: center;
    }
    
#registry h2 {
    padding-bottom: .5em;
    }

#registry p {
    font-size: 2.8em;
    }
    
#registry ul {
    list-style-position: inside;
    padding: 2em 0;
    }
    
#registry li {
    font-size: 1.9em;
    font-family: "Poiret One";
    }
    
#registry a {
    text-decoration: none;
    color: #81383d;
    font-weight: bold;
    }
    
#registry a:hover, #registry a:active, #registry a:focus {
    color: #fad07c;
    }
    
#directions {
    background: url("/portfolio/30Days30Sites/images/women-pixabay.jpg") no-repeat center center fixed;
    color: #fff;
    height: 101%;
    padding: 2.7em 2.5em 2.5em 2.5em;
    bottom: -3px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    
#directions h2 {
    margin-bottom: 1em;
    }
    
#directions p {
    padding-bottom: 1em;
    text-align: left;
    font-family: "Gentium Basic";
    }
    
.directions-text {
    background: rgba(129, 57, 79, 0.5);
    padding: 2em 4em 2em 4em;
    text-align: center;
    }
    
hr {
    width: 50%;
    margin: 0 auto;
    }
    
.reminder {
    font-family: "Poiret One";
    }
    
.reminder h2 {
    margin-top: 0.4em;
    padding-bottom: -1em;
    }
    
.reminder p {
    text-align: center!important;
    margin-top: -0.6em;
    font-family: "Poiret One";
    }
    
.text-center {
    text-align: center!important;
    }

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}