<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Vast+Shadow" rel="stylesheet">

    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
            
            {{ content }}
            
            </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="http://twitter.com/themorrisacode">Twitter</a></li>
                <li><a href="https://www.facebook.com/misspelledmorrisa">Facebook</a></li>
                <li><a href="https://github.com/morrisa-n">GitHub</a></li>
            </ul>
        </footer>
    </body>
</html>
