<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/FontAwesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/FontAwesome/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Lato|Playfair+Display" rel="stylesheet">

    </head>
    <body>
        <div class="wrapper">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
                <span class="right">
                <li><a href="http://www.google.com/recaptcha/mailhide/d?k=01tZk-z5UGIc4Rrd7_tGHwfw==&amp;c=Fi7B_cBnQIpPzvw5C7YaT2-HtiDD-P9yfmu95LMcnxU=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01tZk-z5UGIc4Rrd7_tGHwfw\x3d\x3d\x26c\x3dFi7B_cBnQIpPzvw5C7YaT2-HtiDD-P9yfmu95LMcnxU\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address"><i class="fa fa-envelope"></i></a></li>    
                <li><a href="http://twitter.com/themorrisacode" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/misspelledmorrisa" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://github.com/morrisa-n" title="Github"><i class="fa fa-github"></i></a></li>
                <li><a href="/blog/atom.xml" title="Subscribe"><i class="fa fa-rss"></i></a></li></span>
            </ul>
        </nav>
        <div class="container">
            
            {{ content }}
            
            </div>
            </div><!-- /.container -->
        </div>
    </body>
</html>
