<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Lato" rel="stylesheet">        
        <script src="https://use.fontawesome.com/ea545d6b00.js"></script>

    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
            
            {{ content }}
            
            </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="http://twitter.com/themorrisacode"><i class="fa fa-twitter-square" aria-hidden="true" title="Twitter"></i></a></li>
                <li><a href="https://www.facebook.com/misspelledmorrisa"><i class="fa fa-facebook-square" aria-hidden="true" title="Facebook"></i></a></li>
                <li><a href="https://github.com/morrisa-n"><i class="fa fa-github-square" aria-hidden="true" title="GitHub"></i></a></li>
            </ul>
        </footer>
    </body>
</html>
